<launch>
	<group ns="buoy">
	    <node name="get_sound_data_for2i2" pkg="get_sound_data" type="get_sound_data_for2i2" output="screen" clear_params="true" required="true">
	    	<rosparam command="load" file="$(find get_sound_data)/config/recorder_params_for2i2.yaml" />
	    </node>
	</group>
</launch>
