<launch>
	<remap from="/get_sound_data_for2i2/hydrophone_data" to="/buoy/get_sound_data_for2i2/hydrophone_data"/>
	<node name="rosbag_hydrophone_data_play" pkg="rosbag" type="play" args="/home/yong/ros_buoy_ws/bagfiles/2021-06-09-fakewhistletest.bag"/>
	
	<include file="$(find acoustic)/launch/save_data_shoreside.launch" />

	<arg name="bag" default="false"/>
    <node name="rosbag_hydrophone_data_record" pkg="rosbag" type="record" args="record -o /home/yong/SD/bagfiles/day_1/ /buoy/get_sound_data_for2i2/hydrophone_data" if="$(arg bag)"/>

    <include file="$(find acoustic)/launch/compute_fft.launch" />
    <include file="$(find acoustic)/launch/compute_fft_with_click_removal.launch" />

    <include file="$(find acoustic)/launch/detect_whistle.launch" />
    
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    <param name="/rosbridge_websocket/address" value="192.168.2.100" />
    <param name="/rosbridge_websocket/port" value="9080" />
    
    <include file="$(find monitor)/launch/monitor_battery_voltage.launch" />
    
    <!-- multi-master discovery-->
    <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery_node" output="screen">
        <param name="_mcast_group" value="224.0.0.1"/>
    </node>
    <!-- multi-master sync-->
    <node pkg="master_sync_fkie" type="master_sync" name="master_sync_node" output="screen">
    </node>
</launch>